/source/STAConfig-android.txt
/source/STAConfig-ios.txt
/source/www.zip
/target/STAConfig-android.txt
/target/STAConfig-ios.txt
/source/www-android.zip
/source/www-ios.zip
/target/www.zip
/target/www-android.zip
/target/www-ios.zip
